.article-description-section{
  border-left: 1px solid var(--border-color);
}

.article-description-section {
  flex-direction: column;
  justify-content: flex-end;
  padding: 4rem;
}

.article-description-section > p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
}

.article-description-section > p > a:hover {
  text-decoration: underline;
}