:root {
  --border-color: rgb(255, 255, 255, 0.1);
  --highlight-color: rgb(126, 87, 194);
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("https://vincentgarreau.com/assets/img/darkbg.jpg");
  margin: 0px;
}

h1,
h2,
h3,
a,
p,
span {
  /* font-family: "Rubik", sans-serif; */
  font-weight: 400;
  color: white;
  margin: 0px;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--highlight-color);
}
